.products-image {    
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.products-card-image {
    width: 18rem;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-bottom: 10px;
}

.card-title {
    min-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 .qty-select{
     height: 38px;
     vertical-align: middle;
 }