<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" minlength="3" name="full-name" [(ngModel)]="fullName" id="fullname"
            placeholder="(minimum 3 characters)" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" minlength="6" name="address" [(ngModel)]="address" id="address"
            placeholder="(minimum 6 characters)" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="creditcard">Credit Card</label>
        <input type="text" maxlength="16" name="credit-card" [(ngModel)]="creditCard" id="creditcard"
            placeholder="(16 digits)" class="form-control" required>
        <small id="creditcard" class="form-text" style="color:red">{{creditCardInfo}}</small>

    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Create Order</button>
    </div>
</form>